
//--------------------------------------------------------------------//
//  01. VARIABLES
//  02. INVERT TEXT COLOR
//  03. RESPONSIVE COLOR CLASSES
//  04. RESPONSIVE BACKGROUND COLOR CLASSES
//--------------------------------------------------------------------//

//--------------------------------------------------------------------//
//  01. VARIABLES
//--------------------------------------------------------------------//
$enable-responsive-inverted-color-classes:  true !default;
$enable-responsive-color-classes:           false !default;
$enable-responsive-bg-color-classes:        true !default;

$body-color-inverted:                       $white !default;

//--------------------------------------------------------------------//
//  02. INVERT TEXT COLOR
//--------------------------------------------------------------------//
.text-invert {
    color: $body-color-inverted;
}
//--------------------------------------------------------------------//
//      a.  Responsive Inverted Color Classes
//          •   Usage: <div class="c-invert-{breakpoint}">...</div>
//--------------------------------------------------------------------//
@if $enable-responsive-inverted-color-classes == true {
    @each $breakpoint in map-keys($grid-breakpoints) {
        .text-invert-#{$breakpoint} {
            @include media-breakpoint-up($breakpoint) {
                color: $body-color-inverted;
            }
        }
    };
}
//--------------------------------------------------------------------//
//  03. RESPONSIVE COLOR CLASSES
//
//      • Usage: <div class="c-{breakpoint}-{color}`">...</div>
//--------------------------------------------------------------------//
@if $enable-responsive-color-classes == true {
    @each $color, $value in $theme-colors {
        @each $breakpoint in map-keys($grid-breakpoints) {
           .text-#{$breakpoint}-#{$color} {
                @include media-breakpoint-up($breakpoint) {
                    color: $value;
                }
            }
        }
    };
}
//--------------------------------------------------------------------//
//  04. RESPONSIVE BACKGROUND COLOR CLASSES
//
//  Usage: <div class="c-invert-{breakpoint]">...</div>
//--------------------------------------------------------------------//
@if $enable-responsive-bg-color-classes == true {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @each $color, $value in $theme-colors {
            .bg-#{$breakpoint}-#{$color} {
                @include media-breakpoint-up($breakpoint) {
                    background-color: $value !important;
                }
            }
        }
        @each $color, $value in $theme-colors {
            .bg-#{$breakpoint}-gray-#{$color} {
                @include media-breakpoint-up($breakpoint) {
                    background-color: $value !important;
                }
            }
        }
    };
}
//--------------------------------------------------------------------//
//  CREATE `bg-` CLASSES FOR GRAYS
//--------------------------------------------------------------------//
@each $color, $value in $grays {
    .bg-gray-#{$color} {
        background-color: $value !important;
    }
}
